<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, Bootstrap Table!</title>
    <link rel="stylesheet" href="/AdminLTE-2.4.18/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-table/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-select/1.13.17/css/bootstrap-select.min.css" />
</head>
<body>
<table id="table" class="modal-body">
</table>
<div id="area" >
        <button type="button" class="btn btn-success" id="add">新增</button>
<!--        <button type="button" class="btn btn-danger" id="remove">删除</button>-->
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">时间信息</h4>
            </div>
            <form class="form-horizontal" id="form" role="form" action="/area/add" method="post">
                <div class="modal-body">
                    <input type="hidden" id="id" name="id">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="code" class="col-sm-2 control-label">代码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="code" name="code" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="timeConfigId" class="col-sm-2 control-label">来返程时间</label>
                        <div class="col-sm-10">
                            <select name="timeConfigId" id="timeConfigId" class="selectpicker" required
                                    data-live-search="true" data-actions-box="true">
                                <option></option>
                                <option th:each="timeConfig : ${timeConfigs}"
                                        th:value="${timeConfig.id}" th:text="${timeConfig.name}">
                                </option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="save" class="btn btn-primary">提交更改</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- jQuery 3 -->
<script src="/AdminLTE-2.4.18/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/AdminLTE-2.4.18/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"></script>
<script src="/webjars/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="/webjars/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/webjars/bootbox.js/5.1.3/dist/bootbox.min.js"></script>
<script src="/webjars/bootstrap-select/1.13.17/js/bootstrap-select.min.js"></script>

</body>


<script th:inline="javascript">

    $(function(){

        $('.selectpicker').selectpicker();
        $('#table').bootstrapTable({
            url: '/area/list',
            pagination: true,
            sidePagination: "server",
            locale: 'zh-CN',
            // search: true,
            showButtonText: true,
            searchOnEnterKey: true,
            showSearchButton: true,
            showSearchClearButton: true,
            showRefresh: true,
            toolbar: "#area",
            clickToSelect: true,
            sortable: false,
            smartDisplay: false,
            pageNumber: 1,     //初始化加载第一页，默认第一页
            pageSize: 10,      //每页的记录行数（*）
            //pageList: [5, 10, 50, 100, 'All'] ,  // 可选的每页数据
            //queryParamsType: '',
            queryParams: function (params) {
                //导出全部数据没有传limit给后台, 把limit设置为全部数据
                if (typeof(params.limit) == "undefined") {
                    params.limit = this.totalRows;
                }
                return params;
            },
            onClickRow: function (row, $element) {
                //console.log(row.id);
            },
            onDblClickRow: function (row, $element) {
                $.ajax({
                    type: "GET",
                    url: "/area/get?id=" + row.id,
                    async: false,
                    success: function(data){
                        $('#form').clearForm();
                        $('#id').val(data.id);
                        $('#name').val(data.name);
                        $('#code').val(data.code);
                        $("#timeConfigId option[value=" + data.timeConfigId + "]")[0].selected=true;
                    }
                });
                $('.selectpicker').selectpicker('refresh');
                $('#myModal').modal('show');
            },
            columns: [ {
                field: '',
                checkbox: true, // 显示一个勾选框
                align: 'center', // 居中显示

                formatter: function (value, row, index) {
                    return row.id;
                }
            },{
                field: 'id',
                title: 'ID',
                visible: false
            }, {
                field: 'name',
                title: '名称'
            }, {
                field: 'code',
                title: '代码'
            }, {
                field: 'time',
                title: '来返程时间设置'
            }]
        });

        $('.search-input').attr('placeholder', '输入店铺代码');

        $('#save').click(function() {
            if($('#form')[0].reportValidity()) {
                //$('#form').submit();
                $.ajax({
                    type: "post",
                    url: "/area/save",
                    data: $('#form').serialize(),
                    success: function(data){
                        $('#myModal').modal('hide');
                        $('#table').bootstrapTable('refresh');
                    },
                    error:function(xhr,state,errorThrown){
                        alert("操作失败，请确认数据是否正确后重新尝试！");
                    }
                });
            }
        });

        $('#add').click(function () {
            //$('#form')[0].reset(); //无法重置hidden项
            $('#id').val('');
            $('#form').resetForm();//无法重置hidden项
            // $("input:radio[name=type]").get(0).checked=true;
            $('#myModal').modal('show');
        });

        $('#remove').click(function () {
            var ids = [];
            $.each($('#table').bootstrapTable('getSelections'), function(index, item){
                //console.log(item.id);
                ids.push(item.id);
            });
            bootbox.confirm("确认删除？",
                function(result){
                    if(result) {
                        $.ajax({
                            type: "POST",
                            url: "/area/remove",
                            traditional: true,
                            //async: false,
                            data: {
                                ids: ids
                            },
                            success: function(data){
                                $('#table').bootstrapTable('refresh');
                            },
                            error:function(){
                                alert("操作失败，请刷新页面重新尝试！");
                            }
                        });
                    }
                })
        });

    });

</script>
</html>