<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, Bootstrap Table!</title>

    <link rel="stylesheet" href="/AdminLTE-2.4.18/bower_components/bootstrap/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="/webjars/bootstrap-table/dist/bootstrap-table.min.css">
</head>
<body>
<table id="table" class="modal-body">

</table>
<div id="participant" >
        <button type="button" class="btn btn-success" id="add">新增</button>
        <button type="button" class="btn btn-danger" id="remove">删除</button>
   <!-- <div class="float-right search btn-group">
        <input class="form-control
        search-input" type="text" placeholder="Search">

    </div>
    <button type="button" id="search" class="btn btn-primary">查询</button>-->

</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">参与人信息</h4>
            </div>
            <form class="form-horizontal" id="form" role="form" action="/participant/add" method="post">
                <div class="modal-body">
                    <input type="hidden" id="id" name="id" >
                    <div class="form-group">
                        <label for="userId" class="col-sm-2 control-label">报名号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="userId" name="userId" required >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">名字</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" required >
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-10">
                            <label class="radio-inline" th:each="sex : ${T(com.honji.meeting.enums.SexEnum).values()}">
                                <input type="radio" name="sex" th:value="${sex}" th:sex="${sex.desc}" th:text="${sex.desc}">
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mobile" class="col-sm-2 control-label">手机号码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="mobile" name="mobile" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">参与培训</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="attendTraining" value="true"> 是
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="attendTraining" value="false"> 否
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">参与温泉</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="attendHotSpring" value="true"> 是
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="attendHotSpring" value="false"> 否
                            </label>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="save" class="btn btn-primary">提交更改</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- jQuery 3 -->
<script src="/AdminLTE-2.4.18/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/AdminLTE-2.4.18/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"></script>
<script src="/webjars/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="/webjars/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/webjars/bootbox.js/5.1.3/dist/bootbox.min.js"></script>
<script src="/tableExport/libs/FileSaver/FileSaver.min.js"></script>
<script src="/tableExport/libs/js-xlsx/xlsx.core.min.js"></script>
<script src="/tableExport/tableExport.min.js"></script>
<script src="/webjars/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js"></script>
</body>


<script th:inline="javascript">

    $(function(){

        $('#table').bootstrapTable({
            url: '/participant/list',
            pagination: true,
            sidePagination: "server",
            //pageList: "[10, 25, 50, 100, 200, All]",
            locale: 'zh-CN',
            search: true,
            showButtonText: true,
            searchOnEnterKey: true,
            showSearchButton: true,
            showSearchClearButton: true,
            toolbar: "#participant",
            showRefresh: true,
            clickToSelect: true,
            sortable: true,
            smartDisplay: false,
            showExport: true,
            exportDataType: "all",
            exportTypes: ['xlsx'],
            exportOptions: {
                // 导出数据去除第一列id
                ignoreColumn: [0],
                fileName: function () {
                    return '参与人数据'
                }
            },
            //pageNumber: 1,     //初始化加载第一页，默认第一页
            //pageSize: 10,      //每页的记录行数（*）
            //pageList: [5, 10, 50, 100, 'All'] ,  // 可选的每页数据
            //queryParamsType: '',
            queryParams: function (params) {
                //导出全部数据没有传limit给后台, 把limit设置为全部数据
                if (typeof(params.limit) == "undefined") {
                    params.limit = this.totalRows;
                }
                return params;
            },
            onClickRow: function (row, $element) {
                //console.log(row.id);
            },
            onDblClickRow: function (row, $element) {
                $.ajax({
                    type: "GET",
                    url: "/participant/get?id=" + row.id,
                    async: false,
                    success: function(data){
                        $('#form').clearForm();
                        $('#id').val(data.id);
                        $('#userId').val(data.userId);
                        $('#name').val(data.name);
                        $('#mobile').val(data.mobile);
                        //根据自定义属性值选中
                        $("input:radio[name=sex][sex=" + data.sex + "]")[0].checked=true;
                        $("input:radio[name=attendTraining][value=" + data.attendTraining + "]")[0].checked=true;
                        $("input:radio[name=attendHotSpring][value=" + data.attendHotSpring + "]")[0].checked=true;
                    }
                });
                $('#myModal').modal('show');
            },
            columns: [ {
                field: '',
                checkbox: true, // 显示一个勾选框
                align: 'center', // 居中显示

                formatter: function (value, row, index) {
                    return row.id;
                }
            },{
                field: 'id',
                title: 'ID',
                visible: false
            }, {
                field: 'shopType',
                title: '分区',
                formatter: function (value, row, index) {
                    if (value == 'ZHI_YING') {
                        return "直营";
                    } else if (value == 'DAI_LI') {
                        return "代理";
                    } else {
                        return "联营";
                    }
                }
            }, {
                field: 'area',
                title: '大区'
            }, {
                field: 'smallArea',
                title: '小区'
            }, {
                field: 'shopCode',
                title: '店铺代码'
            }, {
                field: 'shopName',
                title: '店铺名称'
            }, {
                field: 'userId',
                title: '报名号'
            }, {
                field: 'name',
                title: '名字'
            }, {
                field: 'sex',
                title: '性别'/*,
                formatter: function (value, row, index) {
                    if (value == 'MALE') {
                        return "男";
                    } else if (value == 'FEMALE') {
                        return "女";
                    } else {
                        return "儿童";
                    }
                }*/
            }, {
                field: 'mobile',
                title: '手机号码'
            }, {
                field: 'attendTraining',
                title: '参与培训',
                formatter: function (value, row, index) {
                    if (value == 1) {
                        return "是";
                    } else {
                        return "否";
                    }
                }
            }, {
                field: 'attendHotSpring',
                title: '参与温泉',
                formatter: function (value, row, index) {
                    if (value == 1) {
                        return "是";
                    } else {
                        return "否";
                    }
                }
            }]
        });

        $('.search-input').attr('placeholder', '报名号/店铺代码/名称/姓名');

        $('#save').click(function() {
            if($('#form')[0].reportValidity()) {
                $.ajax({
                    type: "get",
                    url: "/user/get?id=" + $('#userId').val(),
                    success: function(data){
                        if (data.length == 0) {
                            alert("报名号不存在！");
                        } else {
                           $.ajax({
                                type: "post",
                                url: "/participant/save",
                                data: $('#form').serialize(),
                                success: function(data){
                                    $('#myModal').modal('hide');
                                    $('#table').bootstrapTable('refresh');
                                },
                                error:function(){
                                    alert("操作失败，请确认数据是否正确后重新尝试！");
                                }
                            });
                        }
                    }
                });

            }
        });

        $('#add').click(function () {
            //$('#form')[0].reset(); //无法重置hidden项
            $('#id').val('');
            $('#form').resetForm();//无法重置hidden项
            // $("input:radio").get(0).checked=true;
            // $("input[type='radio']").each(function (index, element) {
            //     $(this).get(0).checked=true;
            // });
            $("input:radio[name=sex]").get(1).checked=true;
            $("input:radio[name=attendTraining]").get(1).checked=true;
            $('#myModal').modal('show');
        });

        $('#remove').click(function () {

            var ids = [];
            $.each($('#table').bootstrapTable('getSelections'), function(index, item){
                //console.log(item.id);
                ids.push(item.id);
            });
            bootbox.confirm("确认删除？",
                function(result){
                    if(result) {
                        $.ajax({
                            type: "POST",
                            url: "/participant/remove",
                            traditional: true,
                            //async: false,
                            data: {
                                ids: ids
                            },
                            success: function(data){
                                if (data) {
                                    $('#table').bootstrapTable('refresh');
                                } else {
                                    alert("参与人已被选入同住人，请先删除同住人信息！");
                                }
                            },
                            error:function(){
                                alert("操作失败，请刷新页面重新尝试！");
                            }
                        });
                    }
                })
        });

    });

</script>
</html>