<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, Bootstrap Table!</title>

    <link rel="stylesheet" href="/AdminLTE-2.4.18/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-table/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="/webjars/weui/2.1.4/dist/style/weui.min.css" />
</head>
<body>
<table id="table" class="modal-body">

</table>
<div id="schedule" >
    <button type="button" class="btn btn-success" id="add">新增</button>
    <button type="button" class="btn btn-danger" id="remove">删除</button>

</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">行程信息</h4>
            </div>
            <form class="form-horizontal" id="form" role="form" action="/schedule/add" method="post">
                <div class="modal-body">
                    <input type="hidden" id="id" name="id" >
                    <div class="form-group">
                        <label for="userId" class="col-sm-3 control-label">报名号</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="userId" name="userId" required >
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">来程方式</label>
                        <div class="col-sm-9">
                            <label class="radio-inline" th:each="travel : ${T(com.honji.meeting.enums.TravelModeEnum).values()}">
                                <input type="radio" name="arrivedTravelMode" th:value="${travel}" th:arrivedTravelMode="${travel.desc}" th:text="${travel.desc}">
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="arrivedNum" class="col-sm-3 control-label">来程班次</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="arrivedNum" name="arrivedNum" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="arrivedTime" class="col-sm-3 control-label">来程时间</label>
                        <div class="col-sm-9">
                            <input type="datetime-local" class="form-control" id="arrivedTime" name="arrivedTime" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">来程接送点</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="arrivedPickUpStation" id="arrivedPickUpStation" required>
                                <option th:each="station : ${T(com.honji.meeting.enums.StationEnum).values()}"
                                        th:value="${station}" th:text="${station.desc}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">返程方式</label>
                        <div class="col-sm-9">
                            <label class="radio-inline" th:each="travel : ${T(com.honji.meeting.enums.TravelModeEnum).values()}">
                                <input type="radio" name="leavedTravelMode" th:value="${travel}" th:leavedTravelMode="${travel.desc}" th:text="${travel.desc}">
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="leavedNum" class="col-sm-3 control-label">返程班次</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="leavedNum" name="leavedNum" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="leavedTime" class="col-sm-3 control-label">返程时间</label>
                        <div class="col-sm-9">
                            <input type="datetime-local" class="form-control" id="leavedTime" name="leavedTime" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">返程出发地</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="leavedPickUpLocation" id="leavedPickUpLocation" required>
                                <option th:each="station : ${T(com.honji.meeting.enums.LeavePickUpLocationEnum).values()}"
                                        th:value="${station}" th:text="${station.desc}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">返程站点</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="leavedStation" id="leavedStation" required>
                                <option th:each="station : ${T(com.honji.meeting.enums.LeaveStationEnum).values()}"
                                        th:value="${station}" th:text="${station.desc}">
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="page__bd">
                        <div class="weui-gallery" id="gallery">
                            <span class="weui-gallery__img" id="galleryImg"></span>
                            <div class="weui-gallery__opr">
                                <a href="javascript:" class="weui-gallery__del">
                                    <i class="weui-icon-delete weui-icon_gallery-delete"></i>
                                </a>
                            </div>
                        </div>

                        <div class="weui-cells weui-cells_form">
                            <div class="weui-cell">
                                <div class="weui-cell__bd">
                                    <div class="weui-uploader">
                                        <div class="weui-uploader__hd">
                                            <p class="weui-uploader__title">图片上传</p>
                                            <div class="weui-uploader__info"></div>
                                        </div>
                                        <div class="weui-uploader__bd">
                                            <ul class="weui-uploader__files" id="uploaderFiles">

                                            </ul>
                                            <div class="weui-uploader__input-box">
                                                <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="picture1" id="picture1" >
                    <input type="hidden" name="picture2" id="picture2" >


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="save" class="btn btn-primary">提交更改</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- jQuery 3 -->
<script src="/AdminLTE-2.4.18/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/AdminLTE-2.4.18/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"></script>
<script src="/webjars/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="/webjars/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/webjars/bootbox.js/5.1.3/dist/bootbox.min.js"></script>
<script src="/tableExport/libs/FileSaver/FileSaver.min.js"></script>
<script src="/tableExport/libs/js-xlsx/xlsx.core.min.js"></script>
<script src="/tableExport/tableExport.min.js"></script>
<script src="/webjars/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js"></script>

</body>


<script th:inline="javascript">

    $(function(){

        var fileArr=new Array();
        var pictureSize = 0;
        var tmpl = '<li class="weui-uploader__file" file-name="" style="background-image:url(#url#)"></li>',
            $gallery = $("#gallery"), $galleryImg = $("#galleryImg"),
            $uploaderInput = $("#uploaderInput"),
            $uploaderFiles = $("#uploaderFiles");

        $uploaderInput.on("change", function(e){
            var  files = e.target.files;
            var length=fileArr.length;
            for (var i = 0, len = files.length; i < len; ++i) {
                var file = files[i];
                if(length + i + 1 > 2) {
                    break;
                }
                if (file.size > 5 * 1024 * 1024) {
                    alert("图片超过5M，不允许上传");
                    continue;
                }
                var formData = new FormData();
                formData.append("file", file);

                $.ajax({
                    url: "/schedule/upload?userId=" + $('#userId').val(),
                    type: "POST",
                    async: false,
                    cache: false,
                    processData: false,// 告诉jQuery不要去处理发送的数据
                    contentType: false,// 告诉jQuery不要去设置Content-Type请求头
                    data: formData,
                    success: function(result){
                        pictureSize = pictureSize + 1;
                        $uploaderFiles.append($(tmpl.replace('#url#', "/schedule/show?fileName=" + result)).attr('file-name', result));
                    },
                    error:function(xhr,state,errorThrown){
                        alert("图片上传失败，请重新尝试！");
                    }
                });

                fileArr.push(file);

            }
            checkPhotoSize();
        });

        //控制显示三张以内照片
        function checkPhotoSize(){
            if(pictureSize > 1){
                //console.log("hide box");
                $(".weui-uploader__input-box").hide();
            }else{
                $(".weui-uploader__input-box").show();
            }
        };

        var index; //第几张图片
        $uploaderFiles.on("click", "li", function(){
            index = $(this).index();
            $galleryImg.attr("style", this.getAttribute("style"));
            $gallery.fadeIn(100);
        });
        $gallery.on("click", function(){
            $gallery.fadeOut(100);
        });

        //删除图片
        $(".weui-gallery__del").click(function() {
            $uploaderFiles.find("li").eq(index).remove();
            pictureSize = pictureSize - 1;
            checkPhotoSize();
        });

        $('#table').bootstrapTable({
            url: '/schedule/list',
            pagination: true,
            sidePagination: "server",
            locale: 'zh-CN',
            search: true,
            showButtonText: true,
            searchOnEnterKey: true,
            showSearchButton: true,
            showSearchClearButton: true,
            showRefresh: true,
            toolbar: "#schedule",
            clickToSelect: true,
            sortable: true,
            smartDisplay: false,
            showExport: true,
            exportDataType: "all",
            exportTypes: ['xlsx'],
            exportOptions: {
                // 导出数据去除第一列id
                ignoreColumn: [0],
                fileName: function () {
                    return '行程数据'
                }
            },
            pageNumber: 1,     //初始化加载第一页，默认第一页
            pageSize: 10,      //每页的记录行数（*）
            queryParams: function (params) {
                //导出全部数据没有传limit给后台, 把limit设置为全部数据
                if (typeof(params.limit) == "undefined") {
                    params.limit = this.totalRows;
                }
                return params;
            },
            onClickRow: function (row, $element) {
                //console.log(row.id);
            },
            onDblClickRow: function (row, $element) {
                $.ajax({
                    type: "GET",
                    url: "/schedule/get?id=" + row.id,
                    async: false,
                    success: function(data){

                        $gallery.fadeOut(100);//关闭图片预览
                        $('#form').clearForm();
                        $('#id').val(data.id);
                        $('#userId').val(data.userId);
                        $('#arrivedNum').val(data.arrivedNum);
                        $('#arrivedTime').val(data.arrivedTime);
                        $('#leavedNum').val(data.leavedNum);
                        $('#leavedTime').val(data.leavedTime);
                        //根据自定义属性值选中
                        $("input[name=arrivedTravelMode][value='" + data.arrivedTravelMode + "']").prop("checked",true);
                        // $("input:radio[name=arrivedTravelMode][arrivedTravelMode=" + data.arrivedTravelMode + "]")[0].checked=true;
                        $("#arrivedPickUpStation option:contains('" + data.arrivedPickUpStation + "')")[0].selected=true;
                        $("input[name=leavedTravelMode][value='" + data.leavedTravelMode + "']").prop("checked",true);
                        $("#leavedPickUpLocation option:contains('" + data.leavedPickUpLocation + "')")[0].selected=true;
                        $("#leavedStation option:contains('" + data.leavedStation + "')")[0].selected=true;

                        $uploaderFiles.empty();
                        pictureSize = 0;
                        if (data.picture1 != null && data.picture1 != '') {
                            $uploaderFiles.append($(tmpl.replace('#url#', "/schedule/show?fileName=" + data.picture1)).attr('file-name', data.picture1));
                            pictureSize = pictureSize + 1;
                        }

                        if (data.picture2 != null && data.picture2 != '') {
                            $uploaderFiles.append($(tmpl.replace('#url#', "/schedule/show?fileName=" + data.picture2)).attr('file-name', data.picture2));
                            pictureSize = pictureSize + 1;
                            //$(".weui-uploader__input-box").hide();
                        }
                        checkPhotoSize();

                    }
                });
                $('#myModal').modal('show');
            },
            columns: [ {
                field: '',
                checkbox: true, // 显示一个勾选框
                align: 'center', // 居中显示

                formatter: function (value, row, index) {
                    return row.id;
                }
            },{
                field: 'id',
                title: 'ID',
                visible: false
            }, {
                field: 'shopType',
                title: '分区',
                formatter: function (value, row, index) {
                    if (value == 'ZHI_YING') {
                        return "直营";
                    } else if (value == 'DAI_LI') {
                        return "代理";
                    } else {
                        return "联营";
                    }
                }
            }, {
                field: 'area',
                title: '大区'
            }, {
                field: 'smallArea',
                title: '小区'
            }, {
                field: 'shopCode',
                title: '店铺代码'
            }, {
                field: 'shopName',
                title: '店铺名称'
            }, {
                field: 'userId',
                title: '报名号'
            }, {
                field: 'userNames',
                title: '参与人'
            }, {
                field: 'arrivedTravelMode',
                title: '来程方式',
                formatter: function (value, row, index) {
                    /*<![CDATA[*/
                    /*[# th:each="n : ${T(com.honji.meeting.enums.TravelModeEnum).values()}"]*/
                    //console.log("[(${n.desc})]");
                    if (value == "[(${n})]") {
                        return "[(${n.desc})]";
                    }
                    /*[/]*/
                    /*]]>*/
                }
            }, {
                field: 'arrivedNum',
                title: '来程班次号'
            }, {
                field: 'arrivedTime',
                title: '来程时间'
            }, {
                field: 'arrivedPickUpStation',
                title: '来程接送点'
            }, {
                field: 'leavedTravelMode',
                title: '返程方式',
                formatter: function (value, row, index) {
                    /*<![CDATA[*/
                    /*[# th:each="n : ${T(com.honji.meeting.enums.TravelModeEnum).values()}"]*/
                    //console.log("[(${n.desc})]");
                    if (value == "[(${n})]") {
                        return "[(${n.desc})]";
                    }
                    /*[/]*/
                    /*]]>*/
                }
            }, {
                field: 'leavedNum',
                title: '返程班次号'
            }, {
                field: 'leavedTime',
                title: '返程时间'
            }, {
                field: 'leavedPickUpLocation',
                title: '返程出发地'
            }, {
                field: 'leavedStation',
                title: '返程站点'
            }]
        });

        $('.search-input').attr('placeholder', '报名号/店铺代码/名称/姓名');

        $('#save').click(function() {
            if($('#form')[0].reportValidity()) {
                var pictures = $uploaderFiles.find("li");
                if (pictures.length == 0) { //删除了所有图片需要清空值
                    $('#picture1').val('');
                    $('#picture2').val('');
                    var arrivedTravelMode = $('input:radio[name="arrivedTravelMode"]:checked').val();
                    var leavedTravelMode = $('input:radio[name="leavedTravelMode"]:checked').val();
                    if ((arrivedTravelMode != 'SELF_DRIVING' && arrivedTravelMode != 'BUS')
                        || leavedTravelMode != 'SELF_DRIVING' && leavedTravelMode != 'BUS') {
                        alert("请上传行程图片！");
                        return;
                    }
                }
                //console.log(23423);
                if (pictures.length == 1) { //只有一张图片，清空第二张
                    $('#picture2').val('');
                }
                pictures.each(function (i) {

                    if (i == 0) {
                        $('#picture1').val($(this).attr('file-name'));
                    }
                    if (i == 1) {
                        $('#picture2').val($(this).attr('file-name'));
                    }
                });
                $.ajax({
                    type: "get",
                    url: "/user/get?id=" + $('#userId').val(),
                    success: function(data){
                        if (data.length == 0) {
                            alert("报名号不存在！");
                        } else {
                            $.ajax({
                                type: "post",
                                url: "/schedule/save",
                                data: $('#form').serialize(),
                                success: function(data){
                                    $('#myModal').modal('hide');
                                    $('#table').bootstrapTable('refresh');
                                },
                                error: function(data){
                                    alert("行程已经存在！");
                                }
                            });
                        }
                    }
                });

            }
        });

        $('#add').click(function () {
            $uploaderFiles.empty();//清空图片
            pictureSize = 0;
            checkPhotoSize();
            $('#id').val('');
            $('#form').resetForm();//无法重置hidden项
            $("input:radio[name=arrivedTravelMode]").get(0).checked=true;
            $("#arrivedPickUpStation option").get(1).selected=true;
            $("input:radio[name=leavedTravelMode]").get(0).checked=true;
            $("#leavedStation option").get(1).selected=true;
            $('#myModal').modal('show');
        });

        $('#remove').click(function () {
            // console.log($('#table').bootstrapTable('getSelections')[0].id);
            // if($('#dg').datagrid('getSelected') == null) {
            //     return;
            // }
            var ids = [];
            $.each($('#table').bootstrapTable('getSelections'), function(index, item){
                //console.log(item.id);
                ids.push(item.id);
            });
            bootbox.confirm("确认删除？",
                function(result){
                    if(result) {
                        $.ajax({
                            type: "POST",
                            url: "/schedule/remove",
                            traditional: true,
                            //async: false,
                            data: {
                                ids: ids
                            },
                            success: function(data){
                                $('#table').bootstrapTable('refresh');
                            }
                        });
                    }
                })
        });

    });

</script>
</html>