<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>订货会智能会务系统</title>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/weui/weui.min.css"/>
</head>
<body>
<form role="form" id="form" th:action="@{save}" method="post">
    <input type="hidden" name="id" id="id" th:value="${participant == null ? '' : participant.id}"/>
    <div class="page">
        <!--<div class="weui-form">-->
            <div class="weui-form__text-area">
                <br>
                <h2 class="weui-form__title">填写人员信息</h2>
            </div>
            <div class="weui-form__control-area">
                    <div class="weui-cells__group weui-cells__group_form">
                        <div class="weui-cell">
                            <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
                            <div class="weui-cell__bd">
                                <input class="weui-input" placeholder="输入姓名"
                                       name="name" id="name" required="required"
                                       th:value="${participant == null ? '' : participant.name}"/>
                            </div>
                        </div>
                        <div class="weui-cell">
                            <div class="weui-cell__hd"><label class="weui-label">手机号码</label></div>
                            <div class="weui-cell__bd">
                                <input class="weui-input" placeholder="输入手机号码"
                                       name="mobile" id="mobile"
                                       pattern="^1[3-9]\d{9}$" required="required"
                                       th:value="${participant == null ? '' : participant.mobile}"/>
                            </div>
                        </div>

                        <div class="weui-cell">
                            <div class="weui-cell__hd"><label class="weui-label">性别</label></div>
                            <div class="weui-cell__bd">
                                <label>
                                    <input type="radio" name="sex" value="FEMALE"
                                           th:checked="${participant == null || participant.sex.name() == 'FEMALE'}">女
                                </label>
                                <label>
                                    <input type="radio" name="sex" value="MALE"
                                           th:checked="${participant != null && participant.sex.name() eq 'MALE'}">男
                                </label>

                                <label>
                                    <input type="radio" name="sex" value="CHILD"
                                           th:checked="${participant != null && participant.sex.name() eq 'CHILD'}">儿童
                                </label>
                            </div>
                        </div>

                        <div class="weui-cells weui-cells_form">
                            <div class="weui-cell weui-cell_switch">
                                <div class="weui-cell__bd"><span th:text="${timeConfig.trainingDesc}">本人是否参加13-14号培训</span></div>
                                <div class="weui-cell__ft">
                                    <input class="weui-switch" name="attendTraining" type="checkbox"
                                           th:checked="${participant != null && participant.attendTraining}"/>
                                </div>
                            </div>
                        </div>

                        <div class="weui-cells weui-cells_form">
                            <div class="weui-cell weui-cell_switch">
                                <div class="weui-cell__bd"><span th:text="${timeConfig.hotSpringDesc}">本人是否参加温泉项目</span></div>
                                <div class="weui-cell__ft">
                                    <input class="weui-switch" name="attendHotSpring" type="checkbox"
                                           th:checked="${participant != null && participant.attendHotSpring}"/>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            <div class="weui-form__opr-area">
                <div class="button-sp-area" style="text-align: center">

                    <a class="weui-btn weui-btn_mini weui-btn_primary" href="javascript:" id="submitBtn">确定提交</a>
                    <a class="weui-btn weui-btn_mini weui-btn_warn" href="javascript:" onclick="goBack()">取消</a>

                </div>
            </div>
        <!--</div>-->
    </div>
</form>

</body>
<script>
    function goBack() {
        $('#submitBtn').addClass('weui-btn_disabled');
        window.location.href = '/participant/list';
    }


    $(function () {
        $('#submitBtn').click(function () {
            if ($('#form')[0].reportValidity()) {
                $('#submitBtn').addClass('weui-btn_disabled');
                $('#form').submit();
            }
        })
    });

</script>
</html>