<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>订货会智能会务系统</title>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/weui/weui.min.css"/>
</head>
<body>
<form role="form" id="form" th:action="@{save}" method="post">
    <input type="hidden" name="id" id="id" th:value="${room == null ? '' : room.id}"/>
    <input type="hidden" name="userId" th:value="${room == null ? session.user.id : room.userId}"/>

    <div class="page">
        <div class="weui-form__text-area">
            <br>
            <h2 class="weui-form__title">填写同住信息（非必填）</h2>
        </div>
        <div class="weui-form__control-area">
            <div class="weui-cells__group weui-cells__group_form">

                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label class="weui-label" for="type">房型</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="type" id="type" required>
                            <option th:each="type : ${T(com.honji.meeting.enums.RoomTypeEnum).values()}"
                                    th:value="${type}" th:text="${type.desc}"
                                    th:selected="${room != null && type eq room.type}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label class="weui-label" for="name1">人员1</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="participants[0].id" id="name1" required>
                            <option></option>
                            <option th:each="participant : ${participants}"
                                    th:value="${participant.id}" th:text="${participant.name}"
                                    th:selected="${room != null && participant.id eq room.participants.get(0).id}"
                            >
                            </option>
                        </select>
                    </div>
                </div>

                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label class="weui-label" for="name1">人员2</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="participants[1].id" id="name2" required>
                            <option></option>
                            <option th:each="participant : ${participants4Area}"
                                    th:value="${participant.id}" th:text="${participant.name}"
                                    th:selected="${room != null && participant.id eq room.participants.get(1).id}"
                            >
                            </option>
                        </select>
                    </div>
                </div>

                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label class="weui-label" for="name1">人员3(只能选儿童)</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" name="participants[2].id" id="name3" >
                            <option></option>
                            <option th:each="child : ${children}"
                                    th:value="${child.id}" th:text="${child.name}"
                                    th:selected="${room != null && room.participants.size() == 3 && child.id eq room.participants.get(2).id}"
                            >
                            </option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
        <div class="weui-form__opr-area">
            <div class="button-sp-area" style="text-align: center">

                <a class="weui-btn weui-btn_mini weui-btn_primary" href="javascript:" id="submitBtn">确定提交</a>
                <a class="weui-btn weui-btn_mini weui-btn_warn" href="javascript:" onclick="goBack()">取消</a>

            </div>
        </div>


    </div>
</form>

</body>
<script>
   function goBack() {
       $('#submitBtn').addClass('weui-btn_disabled');
       window.location.href='/room/list';
   }


   $(function(){
       $("#name1 option:contains('已分配')").attr("disabled", "disabled");
       $('#submitBtn').click(function() {

           if($('#form')[0].reportValidity()) {
               var name1 = $('#name1').val();
               var name2 = $('#name2').val();
               var name3 = $('#name3').val();
               if (name1 == name2 || name1 == name3 || name2 == name3) {
                    alert("不能重复选择同一个人！");
                    return;
               }
               $('#submitBtn').addClass('weui-btn_disabled');
               $('#form').submit();
           }
       })
   });

</script>
</html>